body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.text-lighten-4{
font-size: 12px;
}

.page-footer{
background: #ff6e00!important;
}

.col{
        a{
font-size: 12px;
padding-bottom: 10px;
}
}

.page-footer{
a:hover{
color:darken(#eeeeee,20%)!important;
}
}

h5{
    text-align:left;
}