// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn{
    margin-top: 20px!important;
    background: #ff6e00!important;
    color: white!important;
}

.flex{
    justify-content:center!important;
    display:flex;
    color:#ff6e00;
    margin-top:10px;
    margin-bottom: 10px;
}

h5{
    text-align: center;
}



