<body>
  <main>
    <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col l3 s12">
                  <h5 class="white-text">みのいろ</h5>
                  <p class="grey-text text-lighten-4">あなたの色を見つけよう</p>
                </div>
                <div class="col l3 s12">
                  <h5 class="white-text">About</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">みのいろとは？(コンサルタント向け)</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">みのいろとは？（お客様向け)</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">問い合わせ</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">ビジョン</a></li>
                  </ul>
                </div>
                <div class="col l3 s12">
                  <h5 class="white-text">Legal</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">利用規約</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">特定商取引における表記</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">個人情報保護法</a></li>
                  </ul>
                </div>

                <div class="col l3 s12">
                  <h5 class="white-text">Links</h5>
                  <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">コンサルタントを探す</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">ブログ</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © みのいろ
              <a class="grey-text text-lighten-4 right" href="#!">退会</a>
              </div>
            </div>
          </footer>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </main>
  </body>
