<div class="v-app">
<header class="header pc_hyoji mini">
<div class="header_inner">
    <div class="header_inner_head flexbox">
        <div id="logo">
            <a href="∠" class="flexbox">
                <p>みのいろ</p>
            </a>
        </div>
        <ul class="menu gnav flexbox">
            <li class="menu_item flexbox">
                <a href="#">コンサルタントを探す</a>
            </li>
            
            <li class="menu_item flexbox">
                <a href="#">ブログ</a>
            </li>
        </ul>
        <div class="navi auth_buttons flexbox">
            <div class="search">
                <form method="GET" action="" accept-charset="UTF-8">
                    <div class="relative">
                        <input id="q" placeholder="カテゴリ検索" name="q" type="text">
                            <div class="absolute center-v right-1 gray2 header_search">
                                <i class="fas fa-search"> </i>
                            </div>
                    </div>
                </form>
            </div>
    <div class="navi_login">
        <a href="#" tabindex="0" class="button">ログイン</a>
    </div>
    <div class="navi_entry">
        <a href="#" tabindex="0" class="button primaryButton">無料登録</a>
    </div>
    </div>
</div>
</div>
</header>    

    